/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.theme-container.custom-page-class {
  
  h3 {
  color: #2a2a2a;
}

  color: #1f285c;
}

.sidebar{
  
  background: #F9F9F9
  
}

.navbar{
  
  background: #1f285c
  
}

.navbar .links{
  
  background-color: #1f285c !important
  
}


